controlled.shutdown.enable=true

### Server Basics
broker.id=0

### Socket Server Settings
listeners=PLAINTEXT://:{{ port_kafka }}
advertised.listeners=PLAINTEXT://{{ ansible_default_ipv4.address }}:{{ port_kafka }}

### SOCKET SSL
# listeners=PLAINTEXT://:9092,SSL://:9093
# advertised.listeners=PLAINTEXT://{{ ansible_default_ipv4.address }}:9092,SSL://{{ ansible_default_ipv4.address }}:9093

### Internal Topic Settings 
auto.create.topics.enable=false
delete.topic.enable=false

default.replication.factor={{ default_replication }}
num.partitions={{ num_partition }}
num.recovery.threads.per.data.dir=1
num.network.threads=8
num.io.threads={{ num_threads }}
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600

offsets.topic.replication.factor={{ offset_topic_replication }}
transaction.state.log.replication.factor=1
transaction.state.log.min.isr=1

### Log Retention Policy 
log.dirs={{ log_dir_kafka }}
log.retention.hours={{ log_retention_hours }}
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000

### SSL
# ssl.truststore.location=/etc/kafka/key/kafka.truststore.jks
# ssl.truststore.password={{ pass_key_kafka }}
# ssl.keystore.location=/etc/kafka/key/kafka.keystore.jks
# ssl.keystore.password={{ pass_key_kafka }}
# ssl.key.password={{ pass_key_kafka }}

### Zookeeper
zookeeper.connect={{ zoo_host_server }}:{{ zoo_port_server }}
zookeeper.connection.timeout.ms=6000
zookeeper.session.timeout.ms=6000
